<div class="bloc-quiz">
    <div class="question">
        <div class="input-block">
            <div class="bloc-label">
                <label for="question1">Question 1</label>
                <p class="obligatory" title="Champ obligatoire">*</p>
            </div>
            <input type="text" name="question" class="inputCreate" required>
        </div>
        <div class="bloc-reponses">
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 1</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box1" id="box1-1">
                    <label class="text-true" for="true-box1">Vraie Réponse</label>
                </div>
            </div>
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 2</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box1">
                    <label class="text-true" for="true-box1">Vraie Réponse</label>
                </div>
            </div>
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 3</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box1">
                    <label class="text-true" for="true-box1">Vraie Réponse</label>
                </div>
            </div>
        </div>
        <div class="bloc-delete-question none">
            <img src="./img/cross.svg" alt="croix supprimer question" class="cross-delete-question">
            <p class="text-delete-question">Supprimer cette question</p>
        </div>
        <span class="line black"></span>
    </div>
    <div class="question">
        <div class="input-block">
            <div class="bloc-label">
                <label for="question2">Question 2</label>
                <p class="obligatory" title="Champ obligatoire">*</p>
            </div>
            <input type="text" name="question" class="inputCreate" required>
        </div>
        <div class="bloc-reponses">
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 1</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box2">
                    <label class="text-true" for="true-box2">Vraie Réponse</label>
                </div>
            </div>
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 2</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box2">
                    <label class="text-true" for="true-box2">Vraie Réponse</label>
                </div>
            </div>
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 3</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box2">
                    <label class="text-true" for="true-box2">Vraie Réponse</label>
                </div>
            </div>
        </div>
        <div class="bloc-delete-question none">
            <img src="./img/cross.svg" alt="croix supprimer question" class="cross-delete-question">
            <p class="text-delete-question">Supprimer cette question</p>
        </div>
        <span class="line black"></span>
    </div>
    <div class="question">
        <div class="input-block">
            <div class="bloc-label">
                <label for="question">Question 3</label>
                <p class="obligatory" title="Champ obligatoire">*</p>
            </div>
            <input type="text" name="question" class="inputCreate" required>
        </div>
        <div class="bloc-reponses">
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 1</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box3">
                    <label class="text-true" for="true-box3">Vraie Réponse</label>
                </div>
            </div>
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 2</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box3">
                    <label class="text-true" for="true-box3">Vraie Réponse</label>
                </div>
            </div>
            <div class="input-block reponse">
                <div class="bloc-label">
                    <label for="reponse">Réponse 3</label>
                    <p class="obligatory" title="Champ obligatoire">*</p>
                </div>
                <input type="text" name="reponse" class="inputCreate" required>
                <div class="bloc-true">
                    <input type="radio" name="true-box3" >
                    <label class="text-true" for="true-box3">Vraie Réponse</label>
                </div>
            </div>
        </div>
        <div class="bloc-delete-question none">
            <img src="./img/cross.svg" alt="croix supprimer question" class="cross-delete-question">
            <p class="text-delete-question">Supprimer cette question</p>
        </div>
        <span class="line black"></span>
    </div>
    <div class="bloc-btn-add-question">
        <button class="btn2 btn-add-question">
            Ajouter une question
        </button>
        <p>5 questions maximum</p>
    </div>
</div>
<div class="bottom-data">
    <div class="block-btn-save-step">
        <input type="submit" value="Enregistrer cette étape" class="btn1 btn-save-step">
    </div>
    <!-- <button class="next-step">Étape suivante</button> -->
</div>