<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module - 8ravo</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="nav-website">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="accueil.html" class="logo">8ravo</a>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Modules</a></li>
                <li><a href="#">Contact</a></li>

                <li><a class="log-in" href="#">Connexion</a></li>
                <li><a class="sign-in" href="#">Inscription</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-index">
        <div class="img-particle-cnt img-particle-cnt-1">
            <span class="img-particle img-particle-book"></span>
        </div>
        <div class="img-particle-cnt img-particle-cnt-2">
            <span class="img-particle img-particle-ampule"></span>
        </div>
        <div class="img-particle-cnt img-particle-cnt-3">
            <span class="img-particle img-particle-hat"></span>
        </div>
        <div class="img-particle-cnt img-particle-cnt-4">
            <span class="img-particle img-particle-pen"></span>
        </div>
        <section class="index" id="page-index">
            <div class="index-container">
                <h1>8ravo.</h1>
                <p>Plateforme d’apprentissage en 8 étapes</p>
                <a href="#project-info">
                    <button>
                        Découvrir
                    </button>
                </a>
            </div>
        </section>
            <div class="project-data-cnt" id="project-info">
                <div class="project-data-title">
                    <h2>Le projet</h2>
                </div>
                <div class="project-data">
                    <div class="project-data-box">
                        <p>8</p>
                        <p>Étapes pour découvrir l'essentiel d'un sujet.</p>
                    </div>
                    <div class="project-data-box">
                        <p>20</p>
                        <p>Modules déjà présents
                            sur le site.</p>
                    </div>
                    <div class="project-data-box">
                        <p>58</p>
                        <p>Utilisateurs déjà présents
                            sur le site.</p>
                    </div>
                </div>
            </div>
   
        <div class="discover-module">
            <button class="button-disc-module">
                Découvrir les modules
            </button>
        </div>
    </main>
    <footer>
        <p>8ravo - 2022 - <a href="">Mentions Légales</a></p>
    </footer>
    <script src="../js/nav.js"></script>
</body>

</html>