<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module - 8ravo</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/video.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="nav-website">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="accueil.html" class="logo">8ravo</a>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Modules</a></li>
                <li><a href="#">Contact</a></li>

                <li><a class="log-in" href="#">Connexion</a></li>
                <li><a class="sign-in" href="#">Inscription</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">

        <section class="video" id="video">
            <div class="progress">
                <span class="fill-progress"></span>
                <span class="fill-progress"></span>
                <span class="fill-progress"></span>
                <span class="fill-progress"></span>
                <span class="fill-progress"></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="video-container container">
                <div class="video-item">
                    <video controls class="video-img">
                        <source src="../video/spacex_decollage.mp4" type="video/mp4">
                    </video>
                    <a href="https://twitter.com/?lang=fr" target="_blank">Source</a>
                </div>
                <div class="video-data">
                    <h1 class="video-title">Le voyage des astronautes pour rejoindre la station</h1>
                    <p class="video-description">
                        Généralement, la durée d’une expédition d’un équipage d’astronautes dure 6 mois. Cet équipage se
                        rend sur la station dans des capsules lancées grâce à des fusées. Les premières capsules et
                        fusées étaient fabriquées par une entreprise russe nommée Soyouz. Il existe maintenant depuis
                        quelques années une entreprise américaine dirigée par Elon Musk et qui est nommée SpaceX. Cette
                        entreprise propose donc également des moyens de se rendre sur l’ISS avec de nouvelles
                        technologies et de nouvelles techniques notamment pour revenir sur Terre avec l'amerrissage qui
                        remplace l'atterrissage utilisé par Soyouz.

                    </p>
                    <div class="button-zone">
                        <button id="previous-button" class="button-video">Retour</button>
                        <button id="next-button" class="button-video">Continuer</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</body>

</html>